*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/.idea/gradle.xml
/.idea/misc.xml
/.idea/other.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_06_01_25,_20_32_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_06_01_25,_20_32_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_06_01_25__20_32__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_06_01_25__20_32__Changes_1.xml
/.idea/vcs.xml
